<section id="secTodoApp">
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Items <span class="label label-info" ng-bind="main.todos.length"></span></h1>
    </div>
    <div id="todo-list" class="row">
      <div class="col-sm-6 col-xs-12 col-center-block list-group">
        <div class="list-group-item" ng-repeat="todo in main.todos track by $index">
          <input type="checkbox" ng-model="todo.done">
          <input type="text" name="ibTodo" ng-model="todo.text" ng-bind="main.todo.text" ng-class="{'doneClass': todo.done, 'notDoneClass': !todo.done }">
          <div class="pull-right">
            <button class="btn btn-primary btn-xs" ng-click="main.editTodo(todo._id, todo.text, todo.done)">Edit</button>&nbsp;&nbsp;
            <button class="btn btn-danger btn-xs" ng-click="main.deleteTodo(todo._id)">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <div id="todo-form" class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <form name="fmCreateTodo" novalidate>
          <div class="form-group">
            <input type="hidden" ng-model="main.formData.done" />
            <input type="hidden" ng-model="main.formData.id" />
            <input type="text" class="form-control input-lg text-center" placeholder="" ng-model="main.formData.text" ng-required="true">
          </div>
          <button type="submit" class="btn btn-primary btn-lg" ng-disabled="fmCreateTodo.$invalid" ng-click="main.createTodo()">Create</button>
          <button type="submit" class="btn btn-primary btn-lg" ng-click="main.updateTodo()">Update</button>
        </form>
      </div>
    </div>
  </div>
</section> <!-- @END/ section -->
